/* 样式重置 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

input {
    outline: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

button {
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #a9a9a9;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */
    text-align: left;
}

.border-1px {
    position: relative;
}

.border-1px::after {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: 1px solid #ddd;
    content: '';
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio:1.5) {
    .border-1px::after {
        -webkit-transform: scaleY(0.7);
        transform: scaleY(0.7)
    }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {
    .border-1px::after {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5)
    }
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* custom */

a {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

html,
body {
    width: 100%;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* 公共样式 */

body {
    color: #fff;
    font-size: 16px;
}

.nav-bar-top {
    position: relative;
    display: flex;
    padding: 0 22px;
    height: 50px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-bar-top .nav-back-btn {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    left: 22px;
    top: 0;
}

.content-wrap {
    padding-top: 50px;
}

.form-container {
    padding: 0 0.4rem;
    color: #3c3c3c;
    font-size: 15px;
}

.form-container .form-title {
    display: flex;
    height: 0.82rem;
    justify-content: flex-start;
    align-items: center;
}
.form-title-wrap{
	display: flex;
	height: 1.12rem;
	justify-content: space-between;
	align-items: center;
}
.formIn-title{
	display: flex;
	height: 0.9rem;
	justify-content: flex-start;
	align-items: center;
}
.radio-item-larger {
    position: relative;
    display: flex;
    height: 0.65rem;
    padding: 0 0.1rem;
}

.radio-item-larger input[type="radio"] {
    height: 1px;
    width: 1px;
    opacity: 0;
}

.radio-item-larger input[type="radio"]+label {
    position: absolute;
    left: 0.01rem;
    top: 0.32rem;
    margin-top: -0.15rem;
    width: 0.31rem;
    height: 0.31rem;
    border-radius: 50%;
    border: 1px solid #a9a9a9;
}

.radio-item-larger input:checked+label::after {
    position: absolute;
    content: "";
    width: 0.09rem;
    height: 0.15rem;
    top: 0.04rem;
    left: 0.08rem;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;
    transform: rotate(45deg)
}

.radio-item-larger input:checked+label {
    background-color: #f9a02d;
    border: 1px solid #f9a02d;
}

.radio-item-vert {
    position: relative;
    height: 0.9rem;
}

.form-wrap {
    padding: 0.2rem 0;
}

.form-wrap .radio-detail {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.radio-item-select {
    position: relative;
    width: 0.6rem;
}

.radio-detail {
    height: 100%;
}

.user-detail {
    display: flex;
    align-items: center;
    height: 1.78rem;
    background-image: url('../images/user-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0.5rem;
    font-size: 16px;
}

.user-detail .head-img {
    height: 1.04rem;
    width: 1.04rem;
    background-color: #d57800;
    border-radius: 50%;
}

.user-detail .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.25rem;
    text-align: left;
}

.user-name {
    margin-bottom: 0.19rem;
}

.form-input-wrap {
    padding: 0.27rem 0.47rem;
}

.input-item-wrap {
    position: relative;
    height: 0.87rem;
}

.input-item-wrap .input-btn,
.radio-item-vert .input-btn {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 1.8rem;
    height: 100%;
    color: #ff890b;
    font-size: 14px;
}

.input-btn-text {
    display: flex;
    height: 0.45rem;
    align-items: center;
    justify-content: center;
    padding-left: 0.28rem;
    border-left: 1px solid #ddd;
    color: #ff890b;
}

.input-item-wrap input,
.radio-item-vert input {
    padding-left: 0.74rem;
    color: #000;
    font-size: 14px;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 0.51rem;
}

.submit-btn {
    width: 4.43rem;
    height: 0.55rem;
    background-color: #ff890b;
    border-radius: 4px;
    color: #fff;
}


/* 图标字体 */

@font-face {
    font-family: 'iconfont';
    src: url('./iconFont/iconfont.eoticonfont.eot');
    src: url('./iconFont/iconfont.eot?#iefix') format('embedded-opentype'), url('./iconFont/iconfont.woff') format('woff'), url('./iconFont/iconfont.ttf') format('truetype'), url('./iconFont/iconfont.svg#iconfont') format('svg');
}

.icon-back {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cardNum {
    position: absolute;
    left: 0.07rem;
    bottom: 0.25rem;
    width: 0.46rem;
    height: 0.32rem;
    background-image: url('../images/card-num.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-verCode {
    position: absolute;
    left: 0.07rem;
    bottom: 0.25rem;
    width: 0.4rem;
    height: 0.45rem;
    background-image: url('../images/ver-code.png');
    background-repeat: no-repeat;
    background-size: cover;
}