.discount-tab-control{
	display: flex;
	height: 1.04rem;
	color:#3c3c3c;
}
.discount-tab-control .discount-tab-item{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;

}
.discount-tab-item .tab-title{
	display: flex;
	box-sizing: border-box;
	height: 0.55rem;
}
.tab-active{
	border-bottom: 2px solid #ff890b;
}
.discount-tab-container{
	padding: 0.27rem 0.19rem;
}
.discount-item{
	height: 2.34rem;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-size: cover;
}

.discount-item:nth-child(1){
	background-image: url('../images/discount-pink.jpg');
	color: #bf5a6d;
}
.discount-item .discount-detail{
		display: flex;
		justify-content: flex-end;
		height: 1.8rem;
		
}
.detail-content{
	display: flex;
	align-items: center;
}
.discount-price{
	display: flex;
	align-items: baseline;
	font-size: 0.4rem;
}
.detail-content .price-num{
	display: flex;
	
	font-size: 0.6rem;
}
.discount-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 0.34rem;
	padding-right: 0.3rem;
}
.detail-content .discount-name{
	font-size: 0.36rem;
	margin-bottom: 0.17rem;
}
.detail-content span{
	font-size: 0.24rem;
}